# 01 Import libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

# 02 Import data

In [2]:
#create path & import orders/products pickle file
path = r'C:\Users\erhil\OneDrive\Career Foundry Program\Immersion Data Analytics Course\A4 - Python Fundamentals for Data Analysts\02-2022 Instacart Basket Analysis\02 Data'
df_ords_prods_combined = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [3]:
#import clean products file (for Q5)
df_prods_checked = pd.read_csv(os.path.join(path, 'Prepared Data', 'products_checked.csv'))

# 03 Task Commands/Q & A

In [4]:
# (Q4) check shape of combined orders/products file 
df_ords_prods_combined.shape

(32434489, 11)

In [5]:
df_ords_prods_combined.head()

,Unnamed: 0,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [6]:
#drop '_merge' column to combine this data with products data
df_ords_prods_combined_2 = df_ords_prods_combined.drop(columns=['_merge'])

In [7]:
df_prods_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
# elimintate the 'Unnamed: 0' column
df_prods_checked_2=df_prods_checked.drop(columns=['Unnamed: 0'])

In [13]:
df_prods_checked_2.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_prods_checked_2.shape

(49672, 5)

In [10]:
#(Q5) combine orders_products_combined data with products data
df_orders_products_merged = df_ords_prods_combined_2.merge(df_prods_checked_2, on = 'product_id', indicator = True)

In [11]:
df_orders_products_merged.head()

,Unnamed: 0,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [12]:
df_orders_products_merged.shape

(32404859, 15)

In [14]:
#(Q6) use merge flag ('_merge') to confirm results
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:
# (Q7) Export merged dataframe 
df_orders_products_merged.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merged.pkl'))